.faqPage{
  background-image: url(../../_assets/pngs/bg-blog.png);
  background-repeat: no-repeat;
  background-size:100% 200px;
  object-fit: cover;
}

.qsPoints{
  position: absolute;
  top: 20px;
  left: 0;
  height: 95%;
}