/* Experience  */

.summary {
  font-size: 32px;
  cursor: pointer;
}


.close {
  color: #000;
  opacity: 0.2;
}

.open {
  color: #3E4F3C;
}

.gif {
  width: 613px;
  height: 380px;
}

.bandage {
  position: absolute;
  right: -50px;
  top: -50px;
}


/* ContactFooter  */
.contactFooterBox{
  background-image: url(../_assets/pngs/bg-footer.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* Pricing Cards  */
.midCard:hover {
  background-color: #F4F4F4;
  color: #30422E;
  transition: all .3s ease;
}
.sideCards:hover, .sideCards1:hover {
  background-color: #30422E;
  color: #F4F4F4;
  transition: all .3s ease;
}

.price :hover {
  color: #F4F4F4;
}
/* 
.sideCards1:hover + .midCard{
  background-color: #F4F4F4;
  color: #30422E;
  transition: all .3s ease;
}
 */

 .cardsMain:hover:nth-last-child(1){

  background-color: red;

 }