/* Experience  */

.summary {
  font-size: 32px;
  cursor: pointer;
}


.close {
  color: #000;
  opacity: 0.2;
}

.open {
  color: #3E4F3C;
}

.gif {
  width: 613px;
  height: 380px;
}

.bandage {
  position: absolute;
  right: -50px;
  top: -50px;
}