:root {
  --bg-primary: #F3ECDA;

  --text-secondary: #3E4F3C;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-secondary);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  list-style: none;
}