@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
  font-family: 'Avenir';
  src: url('./_assets/fonts/AvenirLTStd-Black.otf') format('opentype');
  src: url('./_assets/fonts/AvenirLTStd-BlackOblique.otf') format('opentype');
  src: url('./_assets/fonts/AvenirLTStd-Book.otf') format('opentype');
  src: url('./_assets/fonts/AvenirLTStd-BookOblique.otf') format('opentype');
  src: url('./_assets/fonts/AvenirLTStd-Heavy.otf') format('opentype');
  src: url('./_assets/fonts/AvenirLTStd-HeavyOblique.otf') format('opentype');
  src: url('./_assets/fonts/AvenirLTStd-Light.otf') format('opentype');
  src: url('./_assets/fonts/AvenirLTStd-LightOblique.otf') format('opentype');
  src: url('./_assets/fonts/AvenirLTStd-Medium.otf') format('opentype');
  src: url('./_assets/fonts/AvenirLTStd-MediumOblique.otf') format('opentype');
  src: url('./_assets/fonts/AvenirLTStd-Oblique.otf') format('opentype');
  src: url('./_assets/fonts/AvenirLTStd-Roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-primary: #F3ECDA;
  
  --text-secondary: #3E4F3C;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-secondary);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  list-style: none;
}

button {
  cursor: pointer;
}

.input:focus{
  border: none;
}

.MuiTypography-root {
  font-family: Avenir;
}