/* Introduction */
.bookImg {
  position: absolute;
  bottom: -300px;
  right: 0;
}

.image1 {
  position: absolute;
  right: 320px;
  top: 150px;
  z-index: -1;
}

.image2 {
  position: absolute;
  right: 190px;
  top: 80px;
  z-index: 1;
}

.image3 {
  position: absolute;
  right: 0;
  top: 75px;
}

.image4 {
  position: absolute;
  right: 130px;
  top: 260px;
  z-index: 2;
}



/* Suggestion Component */

.fullStyle {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

/* StoryTelling  */
.stroyImages {
  width: 475px;
  height: 300px;
}

/* GifTab  */

.gifTabBox {
  background-image: url(../../../_assets//pngs/gifi-tab.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Textimonial  */
.clientImg {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

/* Our Books  */
.bookBox{
  background-image: url(../../../_assets/pngs/bg-books.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.book{
  background: transparent;
}