/* Introduction */
.bookImg {

  position: absolute;
  bottom: -300px;
  right: 0;
}

/* Suggestion Component */

.fullStyle {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

/* StoryTelling  */
.stroyImages {
  width: 475px;
  height: 300px;
}

/* GifTab  */

.gifTabBox {
  background-image: url(../../../_assets//pngs/gifi-tab.png);
  background-repeat: no-repeat;
  background-size: 100%;
}